/*  your css code here. If applicable */
.container{
	display:flex;
	flex-wrap:wrap;
	gap:5px;
}
.square{
	width:10px;
	height:10px;
	background-color:#1D1D1D;
}
.square:hover{
	background-color:#000;
	transition-delay:1s;
}