/*  your css code here. If applicable */
.container{
	display:flex;
	flex-wrap:wrap;
	gap:5px;
}
.square{
	width:10px;
	height:10px;
	background-color:black;
}
.square:hover{
	background-color:white;
}